:root {
  --dark-grey: #3f3e3e;
  --darker-green: #769e95;
}

.page {
  font-family: 'Noto Sans Display', sans-serif;
  background: linear-gradient(0deg, rgb(0 0 0 / 0%) 38%, rgb(62 151 131 / 58%) 100%);
  min-height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  color: var(--dark-grey);
}

.page__wrapper {
  max-width: 900px;
  margin: auto;
}

.page__heading {
  color: #fff;
  margin: 10px 0 0;
  text-align: center;
  letter-spacing: 1px;
}

.page__header {
  position: relative;
}

.page__content {
  display: flex;
  margin-top: 40px;
}

main {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page__sidenav {
  position: absolute;
}

.page__goal-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.page__goal-box {
  padding: 19px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* box-shadow: 0px 0px 7px #839793e6; */
  border-radius: 15px;
  color: var(--dark-grey);
  background-color: #fff;
  position: relative;
}

.page__goal-edit-btn {
  position: absolute;
  top: 9px;
  left: 9px;
  cursor: pointer;
  padding: 0;
  transition: all 0.3s;
}

.page__goal-edit-btn > svg {
  width: 17px;
  height: 17px;
  transition: all 0.3s;
}

.page__goal-edit-btn path {
  fill: #9bc9bf;
  opacity: 0.7;
}

.page__goal-edit-btn > svg:hover path {
  opacity: 1;
}

.page__goal-value {
  font-size: 2.2em;
  margin: 0 0 9px;
  color: #9bc9bf;
  font-weight: 400;
  border: none;
  padding: 0;
  text-align: center;
  width: 114px;
  outline: none;
  border-radius: 10px;
  transition: all 0.3s;
}

.page__goal-value:focus, .page__goal-value:hover {
  background-color: #cee5e075;
}

.page__goal-value::-webkit-inner-spin-button,
.page__goal-value::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.page__goal-box > span {
  font-size: 13px;
}

.page__fact-box {
  background-color: #ffffffba;
}

.page__goal-box_inactive .page__goal-value {
  width: 0;
}

.page__goal-box_inactive .page__goal-edit-btn {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page__goal-box_inactive .page__goal-edit-btn > svg {
  width: 22px;
  height: 22px;
}

.page__fact-value {
  margin: 0 0 9px;
  color: #9bc9bf;
  font-size: 1.8em;
  font-weight: 400;
}

.page__fact-box_exceeded .page__fact-value {
  color: #ff714e;
}

.page__date-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 35px;
}

.page__datepicker-wrapper {
  display: flex;
  padding: 0;
  background-color: #96c6bb;
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
}

.page__datepicker-wrapper:hover {
  background-color: #b6d8d0;
}

.page__datepicker {
  display: inline-block;
  position: relative;
  width: 17px;
  height: 17px;
  padding: 5px;
}

.page__datepicker-button {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page__datepicker-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-sizing: border-box;
}
.page__datepicker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.page__table-wrapper {
  margin: 45px 0 30px;
}

.page__btn-container {
  margin-bottom: 25px;
  display: flex;
  gap: 15px;
}

.page__btn {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--dark-grey);
  transition: all 0.3s;
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 10px;
  background-color: #cde4df;
}

.page__btn:hover {
  background-color: #b6d8d0;
}

.page__btn > svg {
  width: 20px;
  height: 20px;
}

.page__btn > svg path, .page__btn > svg circle {
  stroke: var(--dark-grey);
}

.page__btn rect {
  fill: none;
}

.page__tooltip {
  position: absolute;
  left: 7px;
  top: 7px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.page__fact-box_exceeded .page__tooltip {
  visibility: visible;
  opacity: 1;
}

.page__tooltip > svg {
  height: 17px;
  width: 17px;
}

.page__tooltip > svg > path {
  stroke: #9bc9bf;

}

.page__tooltip-box {
  visibility: hidden;
  opacity: 0;
  font-size: 15px;
  padding: 5px;
  z-index: 5;
  background-color: #f3f3f3;
  width: 125px;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #0000007d;
  top: 19px;
  left: -4px;
  transition: all 0.3s;
}

.page__tooltip:hover .page__tooltip-box {
  visibility: visible;
  opacity: 1;
}

.page__tooltip-value {
  font-weight: 600;
}


